.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/
.irb-history
Stopwatch.iml
91_Stopwatch.iml
app/app.iml
gradle/
gradlew
gradlew.bat
*.png
test_servers/
